html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-pushed {
    margin-bottom: 15px;
}

.price-input {
    width: 100%;
}

@media (min-width: 768px) {
    .price-input {
        width: 120px;
        flex: 0 0 auto;
    }
}