{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
<button id="addButton" class="btn btn-primary w-100 w-md-auto">Add Subscription</button>

<div id="formContainer" class="d-none w-100">
    <form action="/add" method="post" class="d-flex flex-column flex-md-row gap-2 w-100">
        <input type="text" name="subscription" placeholder="Subscription name" autofocus autocomplete="off"
            class="form-control flex-grow-1">

        <input type="number" name="amount" min="0" step="0.01" placeholder="Price" autocomplete="off"
            class="form-control price-input">

        <div class="d-flex flex-row flex-md-column align-items-start justify-content-center gap-2">
            <div class="form-check">
                <input type="radio" name="billing" class="form-check-input" value="monthly">
                <label for="Monthly">Monthly</label>
            </div>
            <div class="form-check">
                <input type="radio" name="billing" class="form-check-input" value="yearly">
                <label for="Yearly">Yearly</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

<hr>
<div class="row">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card bg-info text-grey border-secondary h-100">
            <div class="card-body">
                <h5 class="card-title">Average Monthly Spending</h5>
                <p class="card-text">{{"{:,.2f}".format(average_monthly)}} USD</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card bg-info text-grey border-secondary h-100">
            <div class="card-body">
                <h5 class="card-title">Total Yearly Spending</h5>
                <p class="card-text">{{"{:,.2f}".format(total_yearly)}} USD</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card bg-info text-grey border-secondary h-100">
            <div class="card-body">
                <h5 class="card-title">Active subscriptions</h5>
                <p class="card-text">{{ active_subscriptions }}</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card bg-info text-grey border-secondary h-100">
            <div class="card-body">
                <h5 class="card-title">Due next month</h5>
                <p class="card-text">{{ "{:,.2f}".format(due_next_month)}} USD</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div style="width: 400px; height: 400px; margin-top: 100px  ;" id="chart">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="col d-flex flex-column justify-content-center gap-4">
        <div class="row">
            <div class="card bg-danger text-grey border-secondary w-75 mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Highest expense</h5>
                    <p class="card-text">{{ highest_expense }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card bg-success text-grey border-secondary w-75 mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Lowest expense</h5>
                    <p class="card-text">{{ lowest_expense }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="subscriptions" class="d-flex flex-column gap-3 mt-4">
    {% for subscription in subscriptions %}
    <div class="card">
        <div class="card-body d-flex justify-content-between">
            <div>
                <h5 class="card-title" style="text-align: left">{{ subscription.name }}</h5>
                <p class="card-text" style="text-align: left">{{ "{:,.2f}".format(subscription.amount) }} USD / {{
                    "month" if subscription.billing_cycle == "monthly" else "year"}}
                </p>
            </div>
            <div class="ms-auto text-end me-3">
                <p class="card-text">Next due Date: {{ subscription.next_due_date.strftime("%Y-%m-%d") }}</p>
            </div>

            <form>
                <button class="btn btn-warning edit-btn me-3" data-id="{{subscription.id}}">Edit</button>
            </form>

            <form action="/delete/{{subscription.id}}" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    <div id="editContainer{{subscription.id}}" class="d-none w-100">
        <form action="/edit/{{subscription.id}}" method="post" class="d-flex flex-column flex-md-row gap-2 w-100">
            <input type="text" name="subscription" placeholder="Subscription name" autofocus autocomplete="off"
                class="form-control flex-grow-1">

            <input type="number" name="amount" min="0" step="0.01" placeholder="Price" autocomplete="off"
                class="form-control price-input">

            <div class="d-flex flex-column justify-content-center">
                <div class="form-check">
                    <input type="radio" name="billing" class="form-check-input" value="monthly">
                    <label for="Monthly">Monthly</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="billing" class="form-check-input" value="yearly">
                    <label for="Yearly">Yearly</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endfor %}
</div>
<script src=" https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{url_for('static', filename='script.js')}}"></script>

{% endblock %}